//--------------------------Colores de Tipografías--------------------------//

$Eigengrau: #17171E;
$Total-Eclipse: #2E323D;
$Phanton: #717A80;
$Santury: #9EA4A8;
$Stormy-Bay: #A0ABAF;
$Yeti: #C9D8DD;
$Noble-Black: #1F2129;

//--------------------------Colores de Botones--------------------------//

$Pearl-White: #F4F2EF;
$Periwinkle: #8A82FF;
$Grenadine: #FF5E6B;
$Papaya: #FF9E5D;