@font-face {
    font-family: 'Madetommy-Medium';
    src: url('../../assets/fonts/MADETOMMY-Medium.otf'), format('otf');
}

@font-face {
    font-family: 'Madetommy';
    src: url('../../assets/fonts/MADETOMMY.otf'), format('otf');
}