.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 60px;
    height: 86%;
    background-color: #2E323DCC;
    border-radius: 10px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    left: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10; 
}

.sidebar:hover {
    width: 300px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 18px 13px;
    transition: all 0.3s ease;
}

.sidebar-header img {
    height: 35px;
    width: 40px;
    border-radius: 10px;
    margin-right: 14px;
}

.sidebar-header span {
    font-family: 'Madetommy';
    font-size: 17px;
    color: #FFFFFF;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-header span {
    opacity: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    color: #717A80; // #717A80
    font-family: 'Madetommy';
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item a {
    color: #717A80; /* Color gris por defecto para todos los enlaces */
    text-decoration: none;
    transition: color 0.3s ease; /* Añade una transición suave al color */
}

.menu-item:hover a {
    color: #FFFFFF; /* Color blanco para los enlaces al pasar el ratón por el contenedor */
}

.menu-item.active a {
    color: #FFFFFF; /* Color blanco para el enlace "Inicio" (activo) */
}

.menu-item:hover {
    background-color: #A0ABAFCC; // #465264
    color: #FFFFFF;
}

.menu-item.active {
    background-color: #8A82FF80; // #5176FF
    color: #FFFFFF;
}

.menu-item img {
    margin-right: 20px;
    font-size: 24px;
}

.menu-item span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item span {
    opacity: 1;
}

.submenu {
    background-color: #17171ECC; // #2F3946
    padding: 10px 7px;
    border-radius: 10px;
    margin: 0 10px 20px 10px;
}

.submenu-item {
    display: flex;
    align-items: center;
    color: #717A80; //#B0B4BB
    font-family: 'Madetommy';
    font-size: 17px;
    margin-bottom: 12px;
    cursor: pointer;
}

.submenu-item img {
    margin-right: 20px;
    font-size: 20px;
}

.submenu-item span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.submenu-item span:hover {
    color: #FFFFFF;
}

.sidebar:hover .submenu-item span {
    opacity: 1;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: #717A80;
    font-family: 'Madetommy';
    font-size: 20px;
    cursor: pointer;
}

.sidebar-footer:hover {
    color: #FFFFFF;
}

.sidebar-footer img {
    margin-right: 20px;
    font-size: 20px;
    transition: margin-right 0.3s ease;
}

.sidebar-footer span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-footer span {
    opacity: 1;
}

// Dimensiones para los iconos del menú principales
.menu-icon {
    width: 30px;
    height: 30px;
}

// Dimensiones para los iconos del sub-menú
.menu-icon-2 {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 60px; // Por defecto el menú es estrecho
        height: 88%;
    }

    .sidebar:hover {
        width: 250px; /* Se expande al pasar el ratón */
    }

    .menu-icon {
        display: block; /* Muestra el icono del menú */
    }

    .sidebar-header span,
    .menu-item span,
    .submenu-item span,
    .sidebar-footer span {
        opacity: 0; /* Oculta los textos por defecto */
    }

    .sidebar:hover .sidebar-header span,
    .sidebar:hover .menu-item span,
    .sidebar:hover .submenu-item span,
    .sidebar:hover .sidebar-footer span {
        opacity: 1; /* Muestra los textos al pasar el ratón */
    }

    /*.sidebar-footer img {
        display: none; // Oculta el icono de cerrar menú por defecto 
    }*/

    .sidebar:hover .sidebar-footer img {
        display: inline; /* Muestra el icono al pasar el ratón */
    }
}