/*------------------------------------------- Menú Principal --------------------------------------------*/
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 60px;
    height: 89%;
    background-color: #2E323DCC;
    border-radius: 10px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    left: 20px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10; 
}

.sidebar:hover {
    width: 305px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 18px 13px;
    transition: all 0.3s ease;
}

.sidebar-header img {
    height: 35px;
    width: 40px;
    border-radius: 10px;
    margin-right: 14px;
}

.sidebar-header span {
    font-family: 'Madetommy';
    font-size: 17px;
    color: #FFFFFF;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-header span {
    opacity: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    color: $Phanton;
    font-family: 'Madetommy';
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item a {
    color: $Phanton;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-item:hover a {
    color: #FFFFFF;
}

.menu-item.active a {
    color: #FFFFFF;
}

.menu-item:hover {
    background-color: #A0ABAFCC;
    color: #FFFFFF;
}

.menu-item.active {
    background-color: #8A82FF80;
    color: #FFFFFF;
}

.menu-item img {
    margin-right: 20px;
    font-size: 24px;
}

.menu-item span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item span {
    opacity: 1;
}

.submenu {
    background-color: #17171ECC;
    padding: 10px 7px;
    border-radius: 10px;
    margin: 0 10px 20px 10px;
}

.submenu-item {
    display: flex;
    align-items: center;
    color: $Phanton;
    font-family: 'Madetommy';
    font-size: 17px;
    margin-bottom: 12px;
    cursor: pointer;
}

.submenu-item a {
    text-decoration: none;
    color: $Phanton;
}

.submenu-item a:hover {
    color:#FFFFFF;
}

.submenu-item img {
    margin-right: 20px;
    font-size: 20px;
}

.submenu-item span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.submenu-item span:hover {
    color: #FFFFFF;
}

.sidebar:hover .submenu-item span {
    opacity: 1;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: $Phanton;
    font-family: 'Madetommy';
    font-size: 20px;
    cursor: pointer;
}

.sidebar-footer:hover {
    color: #FFFFFF;
}

.sidebar-footer img {
    margin-right: 20px;
    font-size: 20px;
    transition: margin-right 0.3s ease;
}

.sidebar-footer span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-footer span {
    opacity: 1;
}

// Dimensiones para los iconos del menú principales
.menu-icon {
    width: 30px;
    height: 30px;
}

// Dimensiones para los iconos del sub-menú
.menu-icon-2 {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
}

/*------------------------------------------- Menú Mobile --------------------------------------------*/
footer-menu {
    display: flex;
    width: 100vw; height: 100vh;
    background: #ccc;
}

.mobile-manu {
    position: fixed; bottom: 0; z-index: 100;
    align-items: center;
    width: 100%; height: 66px;
    background: #1F2129D9;
    backdrop-filter: blur(5px);
    overflow-y: hidden; overflow-x: none;
    box-shadow: 0 0 40px 5px #1F21299F;
    box-sizing: border-box;
    display: none;
}

.mobile-manu ul {
    display: flex; gap: 1vw;
    align-items: center;
    height: 100%;
    list-style: none;
}

.mobile-manu ul li {
    height: 80%; 
    margin-right: 25px;
}

.mobile-manu .nav-icon {
    display: flex; height: 100%;
    align-items: center;
}

.current-section {
    display: flex;
    align-items: center;
    background: #8A82FF80; padding: 0 15px;
    border-radius: 15px; 
}

.current-section a, .current-section-off a {
    font-family: 'Madetommy';
    gap: 10px;
    color: white;
    text-wrap: nowrap;
}

.current-section-off {
    display: flex;
    align-items: center;
    border-radius: 15px; gap: 10px;
    color: $Phanton;
}

.mobile-manu .nav-icon img {
    height: 50%;
}

.off-icon {
    opacity: 50%;
}

@media screen and (max-width: 768px) {
    .sidebar {
        visibility: hidden;
    }

    .mobile-manu {
        display: flex;
    }
}