//-------------------------------------- Estilos para Galería ---------------------------------------//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloque-1 {
    width: 100%;
    min-height: 100vh;
    font-family: 'Madetommy';
    background-image: linear-gradient(to top, rgba(23, 23, 30, 1), rgba(23, 23, 30, 0.7)), url('/Sitio-Web-Bomberos/assets/img/fondo-bloque-2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    max-width: 1200px;
    color: #FFFFFF;
}

main h1 {
    font-family: 'Madetommy-Medium';
    font-size: 3em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

main h3 {
    color: $Yeti;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-button button {
    background-color: $Periwinkle;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFFFFF;
    font-family: 'Madetommy';
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.title-button button:hover {
    background-color: #7367f0;
}

.card-container {
    display: flex;
    gap: 2%;
}

.card {
    position: relative;
    width: 32%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover img {
    transform: scale(1.1);
}

/* Estilos del pie de foto */
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: $Phanton;
    padding: 10px;
    text-align: center;
    opacity: 0; 
    transform: translateY(100%); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .caption {
    opacity: 1; 
    transform: translateY(0);
}

.caption h4 {
    margin-bottom: 5px;
    font-family: 'Madetommy-Medium';
    color: $Total-Eclipse;
}

.caption p {
    margin: 0;
    font-family: 'Madetommy';
}
