@media (max-width: 768px) {
    //------------------------------------------- Inicio --------------------------------------------//
    body {
        height: 100%;
    }

    main h1 {
        font-size: 2.5em;
        text-align: center;
        margin-top: 10%;
    }

    main h3 {
        font-size: 0.8em;
        margin-top: 8%;
    }

    .title-button {
        flex-direction: column;
        gap: 30px;
    }

    .title-button h3 {
        text-align: center;
        font-size: 1em;
    }

    .title-button button {
        width: 100%;
        font-size: 1em;
    }

    .card-container {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100%;
    }

    .card img {
        height: auto;
    }

    //------------------------------------------- Galería --------------------------------------------//
    .bloque-2 {
        height: 100%;
    }

    .gallery {
        width: 90%;
        gap: 10px;
    }

    .gallery div {
        flex-direction: column;
        gap: 10px;
    }

    .top-gallery {
        height: auto;
    }

    .top-gallery img {
        width: 100%;
    }

    .center-gallery {
        height: auto;
    }

    .center-gallery img {
        width: 100%;
    }

    .footer-gallery {
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding-bottom: 10px;
    }

    .footer-gallery .gallery-link {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}