@font-face {
  font-family: "Madetommy-Medium";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY-Medium.otf"), format("otf");
}
@font-face {
  font-family: "Madetommy";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY.otf"), format("otf");
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 60px;
  height: 89%;
  background-color: rgba(46, 50, 61, 0.8);
  border-radius: 10px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 20px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.sidebar:hover {
  width: 300px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 18px 13px;
  transition: all 0.3s ease;
}

.sidebar-header img {
  height: 35px;
  width: 40px;
  border-radius: 10px;
  margin-right: 14px;
}

.sidebar-header span {
  font-family: "Madetommy";
  font-size: 17px;
  color: #FFFFFF;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-header span {
  opacity: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item a {
  color: #717A80;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover a {
  color: #FFFFFF;
}

.menu-item.active a {
  color: #FFFFFF;
}

.menu-item:hover {
  background-color: rgba(160, 171, 175, 0.8);
  color: #FFFFFF;
}

.menu-item.active {
  background-color: rgba(138, 130, 255, 0.5019607843);
  color: #FFFFFF;
}

.menu-item img {
  margin-right: 20px;
  font-size: 24px;
}

.menu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item span {
  opacity: 1;
}

.submenu {
  background-color: rgba(23, 23, 30, 0.8);
  padding: 10px 7px;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
}

.submenu-item {
  display: flex;
  align-items: center;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 17px;
  margin-bottom: 12px;
  cursor: pointer;
}

.submenu-item a {
  text-decoration: none;
  color: #717A80;
}

.submenu-item a:hover {
  color: #FFFFFF;
}

.submenu-item img {
  margin-right: 20px;
  font-size: 20px;
}

.submenu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.submenu-item span:hover {
  color: #FFFFFF;
}

.sidebar:hover .submenu-item span {
  opacity: 1;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 20px;
  cursor: pointer;
}

.sidebar-footer:hover {
  color: #FFFFFF;
}

.sidebar-footer img {
  margin-right: 20px;
  font-size: 20px;
  transition: margin-right 0.3s ease;
}

.sidebar-footer span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-footer span {
  opacity: 1;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu-icon-2 {
  width: 25px;
  height: 25px;
}

a {
  text-decoration: none;
}

footer-menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #ccc;
}

.mobile-manu {
  position: fixed;
  bottom: 0;
  z-index: 100;
  align-items: center;
  width: 100%;
  height: 66px;
  background: rgba(31, 33, 41, 0.8509803922);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow-y: hidden;
  overflow-x: none;
  box-shadow: 0 0 40px 5px rgba(31, 33, 41, 0.6235294118);
  box-sizing: border-box;
  display: none;
}

.mobile-manu ul {
  display: flex;
  gap: 1vw;
  align-items: center;
  height: 100%;
  list-style: none;
}

.mobile-manu ul li {
  height: 80%;
  margin-right: 25px;
}

.mobile-manu .nav-icon {
  display: flex;
  height: 100%;
  align-items: center;
}

.current-section {
  display: flex;
  align-items: center;
  background: rgba(138, 130, 255, 0.5019607843);
  padding: 0 15px;
  border-radius: 15px;
  gap: 10px;
  color: white;
}

.current-section-off {
  display: flex;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
  text-wrap: nowrap;
  color: #717A80;
}

.mobile-manu .nav-icon img {
  height: 50%;
}

.off-icon {
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden;
  }
  .mobile-manu {
    display: flex;
  }
}
header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 55px;
  width: 55px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.icon-hidden {
  visibility: hidden;
}

.footer {
  background-color: #2c2f35;
  width: 100%;
  height: 30vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-top {
  width: 100%;
  height: 25%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #FF9E5D, #FF5E6B, #8A82FF);
}

.footer-top h2 {
  color: #FFFFFF;
  font-family: "Madetommy-Medium";
  font-size: 1.9em;
  text-align: start;
  margin: auto 5%;
}

.footer-center {
  background-color: #2c2f35;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

.footer-center h2 {
  font-family: "Madetommy-Medium";
  letter-spacing: 1px;
  font-size: 1.3em;
  margin: auto 5%;
  text-align: start;
  color: #C9D8DD;
}

.footer-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}

.footer-links a {
  font-family: "Madetommy";
  text-decoration: none;
  color: #9EA4A8;
}

.footer-links a:hover {
  color: #FFFFFF;
}

.footer-bottom {
  background-color: #17171E;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logos {
  margin-left: 5%;
}

.footer-bottom img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.footer-bottom p {
  font-family: "Madetommy";
  color: #C9D8DD;
}

.footer-social {
  margin-right: 1%;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer-top {
    height: auto;
    text-align: center;
  }
  .footer-top h2 {
    font-size: 1.5em;
    margin: auto;
  }
  .footer-center {
    flex-direction: column;
    height: auto;
    padding: 8px 0;
    gap: 5%;
  }
  .footer-center h2 {
    font-size: 1.1em;
    margin: 5% 0;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
    gap: 10px;
  }
  .footer-links a {
    font-size: 0.9em;
  }
  .footer-bottom {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer-bottom p {
    text-align: center;
  }
  .footer-logos, .footer-social {
    margin: 0;
  }
  .footer-bottom img {
    width: 25px;
    height: 25px;
  }
  .footer-social {
    margin-bottom: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #F4F2EF;
}

main {
  width: 100%;
  display: flex;
  padding: 3vw 6vw;
  box-sizing: border-box;
  flex-direction: column;
  gap: 60px;
}

.block {
  margin-left: 100px;
  min-width: 200px;
  max-width: 1300px;
}

.block section {
  width: 100%;
  display: grid;
  gap: 1.5vw;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.block section article {
  background: white;
  border-radius: 15px;
  padding: 1vw;
  box-sizing: border-box;
}

.img-area {
  width: 100%;
  aspect-ratio: 4/2.5;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  width: 60%;
  margin: 1.2vw 0;
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Madetommy-Medium";
  color: #17171E;
}

h2 {
  font-family: "Madetommy-Medium";
  font-size: 1.5rem;
  margin: 16px 0 0.5vw 0;
  color: #2E323D;
}

.strong-p {
  font-family: "Madetommy";
  font-size: 1.5rem;
  color: #2E323D;
  font-weight: bold;
}

.normal-p {
  font-family: "Madetommy";
  font-size: 1.1rem;
  margin: 10px 0 10px 0;
  color: rgba(57, 57, 65, 0.3607843137);
}

@media (max-width: 768px) {
  main {
    gap: 100px;
  }
  .block {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 6vw;
    min-width: 100px;
    max-width: 100%;
  }
  /* Block 1-2 ____________________________ */
  .block section {
    gap: 6vw;
    grid-template-columns: 1fr;
  }
  .block section article {
    border-radius: 10px;
    padding: 4vw;
  }
  .img-area {
    aspect-ratio: 4/2;
    border-radius: 6px;
  }
  h1 {
    width: 100%;
    font-size: 1.9rem;
  }
}/*# sourceMappingURL=creadores.css.map */