@charset "UTF-8";
@font-face {
  font-family: "Madetommy-Medium";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY-Medium.otf"), format("otf");
}
@font-face {
  font-family: "Madetommy";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY.otf"), format("otf");
}
/*------------------------------------------- Menú Principal --------------------------------------------*/
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 60px;
  height: 89%;
  background-color: rgba(46, 50, 61, 0.8);
  border-radius: 10px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 20px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.sidebar:hover {
  width: 305px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 18px 13px;
  transition: all 0.3s ease;
}

.sidebar-header img {
  height: 35px;
  width: 40px;
  border-radius: 10px;
  margin-right: 14px;
}

.sidebar-header span {
  font-family: "Madetommy";
  font-size: 17px;
  color: #FFFFFF;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-header span {
  opacity: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item a {
  color: #717A80;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover a {
  color: #FFFFFF;
}

.menu-item.active a {
  color: #FFFFFF;
}

.menu-item:hover {
  background-color: rgba(160, 171, 175, 0.8);
  color: #FFFFFF;
}

.menu-item.active {
  background-color: rgba(138, 130, 255, 0.5019607843);
  color: #FFFFFF;
}

.menu-item img {
  margin-right: 20px;
  font-size: 24px;
}

.menu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item span {
  opacity: 1;
}

.submenu {
  background-color: rgba(23, 23, 30, 0.8);
  padding: 10px 7px;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
}

.submenu-item {
  display: flex;
  align-items: center;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 17px;
  margin-bottom: 12px;
  cursor: pointer;
}

.submenu-item a {
  text-decoration: none;
  color: #717A80;
}

.submenu-item a:hover {
  color: #FFFFFF;
}

.submenu-item img {
  margin-right: 20px;
  font-size: 20px;
}

.submenu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.submenu-item span:hover {
  color: #FFFFFF;
}

.sidebar:hover .submenu-item span {
  opacity: 1;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 20px;
  cursor: pointer;
}

.sidebar-footer:hover {
  color: #FFFFFF;
}

.sidebar-footer img {
  margin-right: 20px;
  font-size: 20px;
  transition: margin-right 0.3s ease;
}

.sidebar-footer span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-footer span {
  opacity: 1;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu-icon-2 {
  width: 25px;
  height: 25px;
}

a {
  text-decoration: none;
}

/*------------------------------------------- Menú Mobile --------------------------------------------*/
footer-menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #ccc;
}

.mobile-manu {
  position: fixed;
  bottom: 0;
  z-index: 100;
  align-items: center;
  width: 100%;
  height: 66px;
  background: rgba(31, 33, 41, 0.8509803922);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow-y: hidden;
  overflow-x: none;
  box-shadow: 0 0 40px 5px rgba(31, 33, 41, 0.6235294118);
  box-sizing: border-box;
  display: none;
}

.mobile-manu ul {
  display: flex;
  gap: 1vw;
  align-items: center;
  height: 100%;
  list-style: none;
}

.mobile-manu ul li {
  height: 80%;
  margin-right: 25px;
}

.mobile-manu .nav-icon {
  display: flex;
  height: 100%;
  align-items: center;
}

.current-section {
  display: flex;
  align-items: center;
  background: rgba(138, 130, 255, 0.5019607843);
  padding: 0 15px;
  border-radius: 15px;
}

.current-section a, .current-section-off a {
  font-family: "Madetommy";
  gap: 10px;
  color: white;
  text-wrap: nowrap;
}

.current-section-off {
  display: flex;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
  color: #717A80;
}

.mobile-manu .nav-icon img {
  height: 50%;
}

.off-icon {
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden;
  }
  .mobile-manu {
    display: flex;
  }
}
/*-------------------------------------- Componente Header ---------------------------------------*/
header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 55px;
  width: 55px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.icon-hidden {
  visibility: hidden;
}

/*-------------------------------------- Componente Footer ---------------------------------------*/
.footer {
  background-color: #2c2f35;
  width: 100%;
  height: 30vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-top {
  width: 100%;
  height: 25%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #FF9E5D, #FF5E6B, #8A82FF);
}

.footer-top h2 {
  color: #FFFFFF;
  font-family: "Madetommy-Medium";
  font-size: 1.9em;
  text-align: start;
  margin: auto 5%;
}

.footer-center {
  background-color: #2c2f35;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

.footer-center h2 {
  font-family: "Madetommy-Medium";
  letter-spacing: 1px;
  font-size: 1.3em;
  margin: auto 5%;
  text-align: start;
  color: #C9D8DD;
}

.footer-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}

.footer-links a {
  font-family: "Madetommy";
  text-decoration: none;
  color: #9EA4A8;
}

.footer-links a:hover {
  color: #FFFFFF;
}

.footer-bottom {
  background-color: #17171E;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logos {
  margin-left: 5%;
}

.footer-bottom img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.footer-bottom p {
  font-family: "Madetommy";
  color: #C9D8DD;
}

.footer-social {
  margin-right: 1%;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    margin: 0;
  }
  .footer-top h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  .footer-center {
    flex-direction: column;
    gap: 20px;
  }
  .footer-center h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
  }
  .footer-links {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  .footer-bottom {
    margin-bottom: 63px;
    flex-direction: column;
    gap: 15px;
  }
  .footer-logos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .footer-social {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .footer-bottom img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
  }
}
/*--------------------------------- Estilos para Misión y Visión ----------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #F4F2EF;
}

main {
  width: 100%;
  display: flex;
  padding: 3vw 6vw;
  box-sizing: border-box;
  flex-direction: column;
  gap: 2.5vw;
  align-items: flex-end;
}

section {
  display: flex;
  gap: 1vw;
  min-width: 450px;
  max-width: 1300px;
  margin-left: 100px;
  height: 350px;
  background: #2E323D;
  color: white;
  border-radius: 15px;
  overflow: hidden;
}

section .img-area {
  width: 66%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-1px);
}

section .img-area .gradient-img {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, #2E323D, transparent);
}

section article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2vw;
  box-sizing: border-box;
  gap: 10px;
  align-items: space-between;
}

section article .txt-area {
  width: 100%;
  height: 100%;
}

section article .btn-area {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

h2 {
  font-family: "Madetommy-Medium";
  font-size: 2.4rem;
  color: #F9F8F2;
}

.strong-p {
  font-family: "Madetommy";
  font-size: 1.5rem;
  color: #9EA4A8;
  font-weight: bold;
}

.normal-p {
  font-family: "Madetommy";
  font-size: 1.1rem;
  margin: 25px 0 10px 0;
  color: #9EA4A8;
}

.button {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 36px;
  border-radius: 36px;
  text-decoration: none;
  font-weight: 450;
  font-family: "Madetommy";
}

.button:active {
  background: #5e5e6b;
}

.button-link {
  background-color: #8A82FF;
  color: white;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    gap: 0;
    min-width: 100px;
    max-width: 100%;
    height: 666px;
    margin-left: 0;
  }
  section .img-area {
    width: 100%;
    height: 100%;
  }
  section img {
    transform: translate(0, -2px);
  }
  section .img-area .gradient-img {
    width: 100%;
    height: 50%;
    top: 50%;
    right: 0;
    background-image: linear-gradient(to top, #2E323D, transparent);
  }
  section article {
    height: 50%;
    padding: 4vw;
    gap: 10px;
  }
}