@charset "UTF-8";
@font-face {
  font-family: "Madetommy-Medium";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY-Medium.otf"), format("otf");
}
@font-face {
  font-family: "Madetommy";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY.otf"), format("otf");
}
/*------------------------------------------- Menú Principal --------------------------------------------*/
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 60px;
  height: 89%;
  background-color: rgba(46, 50, 61, 0.8);
  border-radius: 10px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 20px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.sidebar:hover {
  width: 305px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 18px 13px;
  transition: all 0.3s ease;
}

.sidebar-header img {
  height: 35px;
  width: 40px;
  border-radius: 10px;
  margin-right: 14px;
}

.sidebar-header span {
  font-family: "Madetommy";
  font-size: 17px;
  color: #FFFFFF;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-header span {
  opacity: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item a {
  color: #717A80;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover a {
  color: #FFFFFF;
}

.menu-item.active a {
  color: #FFFFFF;
}

.menu-item:hover {
  background-color: rgba(160, 171, 175, 0.8);
  color: #FFFFFF;
}

.menu-item.active {
  background-color: rgba(138, 130, 255, 0.5019607843);
  color: #FFFFFF;
}

.menu-item img {
  margin-right: 20px;
  font-size: 24px;
}

.menu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item span {
  opacity: 1;
}

.submenu {
  background-color: rgba(23, 23, 30, 0.8);
  padding: 10px 7px;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
}

.submenu-item {
  display: flex;
  align-items: center;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 17px;
  margin-bottom: 12px;
  cursor: pointer;
}

.submenu-item a {
  text-decoration: none;
  color: #717A80;
}

.submenu-item a:hover {
  color: #FFFFFF;
}

.submenu-item img {
  margin-right: 20px;
  font-size: 20px;
}

.submenu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.submenu-item span:hover {
  color: #FFFFFF;
}

.sidebar:hover .submenu-item span {
  opacity: 1;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 20px;
  cursor: pointer;
}

.sidebar-footer:hover {
  color: #FFFFFF;
}

.sidebar-footer img {
  margin-right: 20px;
  font-size: 20px;
  transition: margin-right 0.3s ease;
}

.sidebar-footer span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-footer span {
  opacity: 1;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu-icon-2 {
  width: 25px;
  height: 25px;
}

a {
  text-decoration: none;
}

/*------------------------------------------- Menú Mobile --------------------------------------------*/
footer-menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #ccc;
}

.mobile-manu {
  position: fixed;
  bottom: 0;
  z-index: 100;
  align-items: center;
  width: 100%;
  height: 66px;
  background: rgba(31, 33, 41, 0.8509803922);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow-y: hidden;
  overflow-x: none;
  box-shadow: 0 0 40px 5px rgba(31, 33, 41, 0.6235294118);
  box-sizing: border-box;
  display: none;
}

.mobile-manu ul {
  display: flex;
  gap: 1vw;
  align-items: center;
  height: 100%;
  list-style: none;
}

.mobile-manu ul li {
  height: 80%;
  margin-right: 25px;
}

.mobile-manu .nav-icon {
  display: flex;
  height: 100%;
  align-items: center;
}

.current-section {
  display: flex;
  align-items: center;
  background: rgba(138, 130, 255, 0.5019607843);
  padding: 0 15px;
  border-radius: 15px;
}

.current-section a, .current-section-off a {
  font-family: "Madetommy";
  gap: 10px;
  color: white;
  text-wrap: nowrap;
}

.current-section-off {
  display: flex;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
  color: #717A80;
}

.mobile-manu .nav-icon img {
  height: 50%;
}

.off-icon {
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden;
  }
  .mobile-manu {
    display: flex;
  }
}
/*-------------------------------------- Estilos para Reseña ---------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F4F2EF;
  margin: 0;
  padding: 20px 0;
}

h2 {
  font-family: "Madetommy-Medium";
  color: #17171E;
}

div {
  font-family: "Madetommy";
  color: #717A80;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.review {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
}

.review:nth-child(even) {
  grid-template-columns: 300px 1fr;
}

.review-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.review-content p {
  color: #717A80;
}

.review-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.review-date {
  font-size: 14px;
  color: #717A80;
  margin-bottom: 10px;
}

.review-text {
  font-size: 16px;
  line-height: 1.5;
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .image-overlay {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .review, .review:nth-child(even) {
    grid-template-columns: 1fr;
  }
  .image-container {
    height: 250px;
  }
}/*# sourceMappingURL=reseña.css.map */