@charset "UTF-8";
@font-face {
  font-family: "Madetommy-Medium";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY-Medium.otf"), format("otf");
}
@font-face {
  font-family: "Madetommy";
  src: url("/Sitio-Web-Bomberos/assets/fonts/MADETOMMY.otf"), format("otf");
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 60px;
  height: 86%;
  background-color: rgba(46, 50, 61, 0.8);
  border-radius: 10px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 20px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.sidebar:hover {
  width: 300px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 18px 13px;
  transition: all 0.3s ease;
}

.sidebar-header img {
  height: 35px;
  width: 40px;
  border-radius: 10px;
  margin-right: 14px;
}

.sidebar-header span {
  font-family: "Madetommy";
  font-size: 17px;
  color: #FFFFFF;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-header span {
  opacity: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item a {
  color: #717A80; /* Color gris por defecto para todos los enlaces */
  text-decoration: none;
  transition: color 0.3s ease; /* Añade una transición suave al color */
}

.menu-item:hover a {
  color: #FFFFFF; /* Color blanco para los enlaces al pasar el ratón por el contenedor */
}

.menu-item.active a {
  color: #FFFFFF; /* Color blanco para el enlace "Inicio" (activo) */
}

.menu-item:hover {
  background-color: rgba(160, 171, 175, 0.8);
  color: #FFFFFF;
}

.menu-item.active {
  background-color: rgba(138, 130, 255, 0.5019607843);
  color: #FFFFFF;
}

.menu-item img {
  margin-right: 20px;
  font-size: 24px;
}

.menu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item span {
  opacity: 1;
}

.submenu {
  background-color: rgba(23, 23, 30, 0.8);
  padding: 10px 7px;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
}

.submenu-item {
  display: flex;
  align-items: center;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 17px;
  margin-bottom: 12px;
  cursor: pointer;
}

.submenu-item img {
  margin-right: 20px;
  font-size: 20px;
}

.submenu-item span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.submenu-item span:hover {
  color: #FFFFFF;
}

.sidebar:hover .submenu-item span {
  opacity: 1;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  color: #717A80;
  font-family: "Madetommy";
  font-size: 20px;
  cursor: pointer;
}

.sidebar-footer:hover {
  color: #FFFFFF;
}

.sidebar-footer img {
  margin-right: 20px;
  font-size: 20px;
  transition: margin-right 0.3s ease;
}

.sidebar-footer span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-footer span {
  opacity: 1;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu-icon-2 {
  width: 25px;
  height: 25px;
}

body {
  margin: 0;
}

h2 {
  font-family: "Madetommy-Medium";
}

button, p {
  font-family: "Madetommy";
  border: none;
}

.section-3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr) 66px 150px 99px;
}

.header-back {
  background-color: #F4F2EF;
  grid-column: 1/6;
  grid-row: 1/3;
  display: flex;
}

.background {
  background-color: #646464;
  grid-column: 1/6;
  grid-row: 3/7;
}

.item-box {
  background-color: #fff;
  grid-column: 2/5;
  grid-row: 2/4;
  gap: 10px;
  border-radius: 20px;
}

.nav-icons {
  grid-column: 2/5;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.images {
  grid-column: 2/5;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.buttoms {
  grid-column: 2/5;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.head-txt {
  font-size: 1.3rem;
  margin: 55px auto;
  color: #8A82FF;
}

.items-inside {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 55px 55px 30px 55px;
}

.img-item {
  text-align: center;
  width: 180px;
  height: 150px;
}

.img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ubicanos {
  margin: 0px;
  font-size: 2.5rem;
}

.txt-content {
  font-size: 1.5rem;
  color: #646464;
}

.butt-items {
  display: flex;
  gap: 30px;
  margin: 0 55px 55px 55px;
}

.tour {
  background-color: #8A82FF;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  color: #FFFFFF;
  cursor: pointer;
}

.punter {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.punter img {
  width: 100%;
  height: auto;
}

.x-butt {
  grid-column: 1;
  width: 55px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.x-butt img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-icons > div {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  gap: 9px;
}

.scroll-butt {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.images img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.contact {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  color: #8A82FF;
  cursor: pointer;
}

.copy {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #8A82FF;
  cursor: pointer;
}

.copy img {
  width: 65%;
  height: auto;
}

.last-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  gap: 20px;
  background: linear-gradient(45deg, #FF9E5D, #FF5E6B, #8A82FF);
}

.section-buttom {
  border: none;
  border-radius: 35px;
  height: 35px;
  padding: 0 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.36);
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=ubicacion.css.map */