.bloque-4 {
    width: 100%;
    height: 100vh;
    background-color: $Pearl-White;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    text-align: center;
    padding: 40px 0;
    padding: 0;
}

.bloque-4 h2 {
    font-size: 2em;
    font-family: 'Madetommy';
    margin-bottom: 10px;
    color: $Total-Eclipse;
}

.bloque-4 h3 {
    font-size: 1.2em;
    font-family: 'Madetommy';
    margin-bottom: 40px;
    color: $Santury;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-4 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card-4 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.card-4 img {
    max-width: 60%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-4 h4 {
    font-size: 1.5em;
    font-family: 'Madetommy';
    margin-bottom: 10px;
    color: $Total-Eclipse;
}

.card-4 p {
    font-size: 1em;
    font-family: 'Madetommy';
    color: $Santury;
}

.arrow-4 {
    margin-top: 20px;
}

.arrow-4 img {
    max-width: 40px;
    cursor: pointer;
}
