html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.bloque-1 {
    background: url('/Sitio-Web-Bomberos/assets/img/Fondo\(B1\)Mascara.webp');
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    border: none;
}

.content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}