//-------------------------------     Título principal de la página     -------------------------------//
main {
    width: 60%;
    height: 150px;
    margin-top: 30px;
    margin-left: 8%;
    color: #FFFFFF;
}

main h1 {
    font-family: 'Madetommy-Medium';
    font-size: 2em;
}

main h2 {
    font-family: 'Madetommy';
    font-size: 1.4em;
}